Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/">
  <input type="text" id="comment" name="comment[texto]" placeholder="Escriba aquí el comentario..." value=""/> <p>
  <button type="submit">Enviar</button></a>
</form>